@import url(../fonts/fonts.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

/* Яндекс логотип */
.logo {
  background-image: url(../blocks/logo/images/logo_place_header.svg);
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}

.logo_place_footer {
  background-image: url(../blocks/logo/images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
  z-index: 2;
}

/* Научиться учиться */
.header__title {
  max-width: 730px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  margin: 0 0 0 64px;
  color: #000000;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: 0 0 0 0;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
  opacity: 1;
  transition: opacity .3s ease-out;
}

.header__link:hover {
  opacity: 0.5;
}

/* header-image 1 */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s infinite linear;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 0 0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}

.two-columns__brief {
  width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0 0 0 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;  
}

.two-columns__paragraph{
  margin: 0 0 30px 0;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
  width: 80%;
  margin: 0 auto 0 auto;
}

.section-title {
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.15;
  margin: 0 auto 20px auto;
}

.section-title_theme_dark {
  margin: 0 auto 20px auto;
  color: #ffffff;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 0 0;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.cards__item {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.cards__item:nth-of-type(3n+2) {
  margin: 0 100px 0 100px;
}

.cards__image {
  max-width: 160px;
  max-height: 160px;
  margin: 60px 40px 43px 40px;
  border-radius: 100px;
}

.cards__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 16px 0;
  padding: 0 0 0 0;
}

.cards__description {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
  margin: 0 20px 0 0;
}

.video__iframe:nth-of-type(2) {
  margin: 0 0 0 0;
}

.video__iframes {
  margin: 50px auto -50px auto;
}

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 0 0;
}

.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../blocks/feynman/images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #f2f2f2;
  padding: 80px 0 0 0;
  z-index: 2;
}

.feynman__title {
  width: 648px;
  text-align: center;
  font-weight: bold;
  font-size: 120px;
  line-height: 1.15;
  margin: 0 0 70px 0;
}

.feynman__subtitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 0 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s ease-out;
}

.feynman__link:hover {
  opacity: 0.5;
}

.digits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto 100px auto;
  padding: 0 0 0 0;
  z-index: 2;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0 0 0 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 20px 0;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 0 0;
}

.table__text:last-of-type {
  margin-top: 20px;
}

.table__text_theme_dark {
  color: #ffffff;
}

.khan {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 105px 0 0 0;
}

.khan__container {
  width: 80%;
}

.khan__author {
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  margin: 0 0 0 0;
}

.khan__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.15;
  margin: 0 0 0 0;
}

.khan__quote {
  max-width: 790px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 50px 0 36px 0;
}

.khan__quote-author {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 10px 0;
}

.khan__quote-author-subline {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 68px 0;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top left;
  margin-right: 48px;
}

.khan__buy-link {
  align-self: flex-start;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s ease-out;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  padding: 90px 0 0 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
  background-image: url(../blocks/kaufman/images/kaufman-triangle.svg);
  background-size: contain;
}

.resources {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}

.resources__logo-zone {
  min-width: 1100;
  display: flex;
  list-style: none;
  margin: 80px 0 217px 0;
  padding: 0 0 0 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.resources__logo:hover {
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: #1f1f1f;
}

.footer__columns {
  min-height: 250px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 40px 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
}

.footer__author {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 18px 0 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0 0 0 0;
}

.footer__column-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease-out;
}

.footer__column-link:hover {
  opacity: 0.5;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}